Repository kickstarter/ios-oss, pull requests merged in 2024-04, with the labels that each got.

#2008 Navigate To Thank You Page On Successful Late Pledge
  Kickstarter-iOS/Features/PledgeView/Controllers/PostCampaignCheckoutViewController.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
Labels: post-campaign-pledging

#2011 [MBL-1305] Revert banner changes
  Kickstarter-iOS/Features/PledgeView/Controllers/PostCampaignCheckoutViewController.swift
Labels: post-campaign-pledging

#2013 [MBL-1307] Show processing view while payment is processing
  Kickstarter-iOS/Features/PledgeView/Controllers/PostCampaignCheckoutViewController.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: post-campaign-pledging

#2016 Update translations for late pledge string
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Library/Strings.swift
Labels: post-campaign-pledging

#2019 [MBL-1328] Pledge Button Active/Inactive States
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: bug, post-campaign-pledging

#2022 [MBL-1328] Update Pledge Button Enabled Signals
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: bug, post-campaign-pledging

#2014 [MBL-1317] Show Rewards Based on Reward.isAvailable
  Kickstarter-iOS/Features/RewardsCollection/Controller/RewardsCollectionViewControllerTests.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/__Snapshots__/RewardsCollectionViewControllerTests/testRewards_Backer_LiveProject_Landscape.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardsCollection/Controller/__Snapshots__/RewardsCollectionViewControllerTests/testRewards_NonBacker_LiveProject.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardsCollection/Controller/__Snapshots__/RewardsCollectionViewControllerTests/testRewards_NonBacker_LiveProject_Landscape.lang_de_device_pad.png
  Kickstarter-iOS/Features/RewardsCollection/Views/RewardCardContainerViewTests.swift
  Kickstarter-iOS/Library/SharedFunctionsTests.swift
  KsApi/models/lenses/RewardLenses.swift
  Library/SharedFunctions.swift
  Library/SharedFunctionsTests.swift
  Library/ViewModels/RewardCardContainerViewModel.swift
  Library/ViewModels/RewardCardContainerViewModelTests.swift
  Library/ViewModels/RewardCardViewModelTests.swift
  Library/ViewModels/RewardsCollectionViewModel.swift
  Library/ViewModels/RewardsCollectionViewModelTests.swift
Labels: post-campaign-pledging

#2021 [MBL-1124] Add tracking for late pledges
  Library/Tracking/KSRAnalytics.swift
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/ConfirmDetailsViewModelTests.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: post-campaign-pledging

#2025 [MBL-1352] Backfill Tests In PostCampaignViewModel
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: post-campaign-pledging

#2023 MBL-1338: Re-fetch stored cards after login
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: post-campaign-pledging

#2026 [MBL-1350] Remove Thanks Page String
  Library/ViewModels/ThanksViewModel.swift
  Library/ViewModels/ThanksViewModelTests.swift
Labels: post-campaign-pledging

#2029 [MBL-1355] Move Login/Signup Logic To Confirm Pledge Details
  Kickstarter-iOS/Features/ConfirmDetails/Controllers/ConfirmDetailsViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/PostCampaignCheckoutViewController.swift
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/ConfirmDetailsViewModelTests.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModelTests.swift
Labels: post-campaign-pledging

#2032 [MBL-1334] Bind styles when PostCampaignPledgeRewardsSummaryTotalViewController loads
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryViewController.swift
Labels: post-campaign-pledging

#2035 [MBL-1362] If user cancels adding new card, don't show error banner
  Kickstarter-iOS/Features/PaymentMethods/Controller/PaymentMethodSettingsViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgePaymentMethodsViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/PostCampaignCheckoutViewController.swift
Labels: post-campaign-pledging

#2044 Fix missing spinner on BackerDashboardProjectsViewController
  Kickstarter-iOS/Features/BackerDashboardProjects/Controller/BackerDashboardProjectsViewController.swift
  Library/ViewModels/BackerDashboardProjectsViewModel.swift
  Library/ViewModels/BackerDashboardProjectsViewModelTests.swift
Labels: bug

#2043 MBL-1381: Use Projects query instead of UserSavedProjectsConnection for saved projects
  KsApi/GraphAPI.swift
  KsApi/models/graphql/adapters/FetchProjectsEnvelope+FetchBackerProjectsQueryData.swift
  KsApi/models/graphql/adapters/FetchProjectsEnvelope+FetchBackerProjectsQueryDataTests.swift
  KsApi/queries/FetchMySavedProjectsQuery.graphql
  KsApi/queries/templates/FetchMySavedProjectsQuery.json
  KsApi/queries/templates/FetchMySavedProjectsQueryRequestForTests.graphql_test
Labels: bug
