Repository kickstarter/ios-oss, pull requests merged in 2024-10, with the labels that each got.

#2164 [MBL-1738] iPadOS 18 - Navbar overlay issue in "Follow Friends" screen
  Kickstarter-iOS/Features/FindFriends/Controller/FindFriendsViewController.swift
Labels: bug, iOS 18

#2163 [MBL-1755] Pledge Summary Table Total Amount Text
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/NoShippingPledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewControllerTests.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeWithNoReward.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeWithNoReward.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/PostCampaignCheckoutViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Library/SharedFunctions.swift
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
  Library/ViewModels/PledgeSummaryViewModel.swift
  Library/ViewModels/PledgeSummaryViewModelTests.swift
  Library/ViewModels/PledgeViewModel.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModel.swift
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModelTests.swift
Labels: tech debt, Pledge Redemption

#2166 [MBL-1761] Add pledge redemption deep links
  Kickstarter-iOS/AppDelegateViewModel.swift
  Kickstarter-iOS/Features/SurveyResponse/Controller/SurveyResponseViewController.swift
  Library/Navigation.swift
  Library/NavigationTests.swift
  Library/ViewModels/SurveyResponseViewModel.swift
  Library/ViewModels/SurveyResponseViewModelTests.swift
Labels: Pledge Redemption

#2165 Remove confirm details
  Kickstarter-iOS/Features/ConfirmDetails/Controllers/NoShippingConfirmDetailsViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPostCampaignCheckoutViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPostCampaignViewControllerTests.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_AddOns_LoggedOut.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_AddOns_LoggedOut.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_AddOns_LoggedOut.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_AddOns_LoggedOut.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_AddOns_LoggedOut.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_ja_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/ViewModels/NoShippingConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingConfirmDetailsViewModelTests.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModelTests.swift
Labels: Pledge Redemption

#2173 [MBL-1780] Remove deleted method from our beta changelog
  .fastlane/beta-changelog.rb
Labels: iOS 18

#2171 [MBL-1613] Handle errors for late pledges without dismissing the view controller
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPostCampaignCheckoutViewController.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModelTests.swift
Labels: Pledge Redemption

#2175 Allowlist all stripe requests, not just stripe elements
  Library/ViewModels/SurveyResponseViewModel.swift
  Library/ViewModels/SurveyResponseViewModelTests.swift
Labels: Pledge Redemption

#2178 [MBL-1783 Unhide rewards immediately if there's no shippable rewards
  Kickstarter-iOS/Features/RewardsCollection/Controller/WithShippingRewardsCollectionViewController.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: bug, Pledge Redemption

#2179 [MBL-1783] Don't filter local pickup based on shipping rule
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: bug, Pledge Redemption

#2182 [MBL-1821] Get shipping info from backing if there's no shipping rule selected
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
Labels: bug, Pledge Redemption

#2184 Update marketing version to 5.20.1
  Kickstarter.xcodeproj/project.pbxproj
Labels: release

#2188 [MBL-1492] View backing details/survey webview action
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewController.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModelTests.swift
  KsApi/GraphAPI.swift
  KsApi/fragments/PPOBackingFragment.graphql
  KsApi/graphql-schema.json
  Library/Navigation.swift
Labels: pledged-projects-overview
