Repository kickstarter/ios-oss, pull requests merged in 2024-09, with the labels that each got.

#2140 [MBL-1684] Remove Redundant No Shipping At Checkout Feature Flag Checks
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgePaymentMethodsViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/RewardsCollectionViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/WithShippingRewardsCollectionViewController.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: Pledge Redemption

#2139 PPO: View model GraphQL loading and pagination support
  Kickstarter-iOS/Features/PaginationExample/PaginationExampleViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardView+GraphAPI.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOView.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModelTests.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/Paginator.swift
  Library/PaginatorTests.swift
Labels: pledged-projects-overview

#2146 [MBL-1681] Fix confirm details bonus
  Kickstarter.xcodeproj/project.pbxproj
  Library/ViewModels/NoShippingConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingConfirmDetailsViewModelTests.swift
Labels: Pledge Redemption

#2144 [MBL-1680] Shipping Info Missing From Rewards Summary
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModel.swift
Labels: Pledge Redemption

#2145 [MBL-1690] Crash When Selecting 'Edit Reward' Option In Manage Pledge Flow
  Library/ViewModels/ManagePledgeViewModelTests.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: Pledge Redemption

#2143 [MBL-1688] Estimated Shipping Range Should Include Add-Ons Estimates
  Library/SharedFunctions.swift
  Library/SharedFunctionsTests.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
  Library/ViewModels/RewardAddOnCardViewModel.swift
  Library/ViewModels/RewardCardViewModel.swift
Labels: Pledge Redemption

#2148 [MBL-1687] Fix continue button on confirm details page not working #2147
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingConfirmDetailsViewModel.swift
  Library/ViewModels/NoShippingConfirmDetailsViewModelTests.swift
Labels: Pledge Redemption

#2149 [MBL-1682] Late Pledge UI ScrollView Not Scrolling
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPostCampaignCheckoutViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_HasAddOns.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_ja_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsEstimatedShippingView.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPostCampaignViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_ja_device_phone4_7inch.png
Labels: Pledge Redemption

#2151 [MBL-1714] "Estimated Shipping" Showing When There's No Estimated Shipping
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPostCampaignCheckoutViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_ja_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Views/RewardAddOnCardView.swift
  Kickstarter-iOS/Features/RewardsCollection/Views/RewardCardView.swift
  Library/SharedFunctions.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
  Library/ViewModels/RewardAddOnCardViewModel.swift
  Library/ViewModels/RewardCardViewModel.swift
Labels: Pledge Redemption

#2152 [MBL-1719] Include Selected Reward Quantities In Total Estimated Shipping Range
  Library/SharedFunctions.swift
  Library/SharedFunctionsTests.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPostCampaignCheckoutViewModel.swift
Labels: Pledge Redemption

#2156 [NO TICKET] 5.19.0 Marketing Version
  Kickstarter.xcodeproj/project.pbxproj
Labels: release

#2158 [MBL-1736] Include Shipping In Pledge Total When It Exists
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewControllerTests.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsEstimatedShippingView.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsEstimatedShippingView.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsEstimatedShippingView.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsEstimatedShippingView.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsEstimatedShippingView.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_fr_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_ja_device_phone4_7inch.png
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
Labels: Pledge Redemption

#2162 Add NoShippingPostCampaignCheckoutViewController to payment methods assert
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgePaymentMethodsViewController.swift
Labels: Pledge Redemption

#2157 [MBL-1582] Run the app on Xcode 16 and iOS 18
  Gemfile.lock
  Kickstarter.xcodeproj/project.pbxproj
  Kickstarter.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Library/TestHelpers/MockApplication.swift
  Library/UIApplicationType.swift
Labels: iOS 18

#2159 CircleCI upgrade to Xcode 16
  .circleci/config.yml
  .fastlane/Fastfile
  .ruby-version
  Kickstarter.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Library/TestHelpers/TestCase.swift
  Makefile
Labels: iOS 18
