Repository kickstarter/ios-oss, pull requests merged in 2024-08, with the labels that each got.

#2111 [MBL-1447] Create fragments for PPO
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/GraphAPI.swift
  KsApi/GraphQLFiles.xcfilelist
  KsApi/fragments/PPOBackingFragment.graphql
  KsApi/fragments/PPOCardFragment.graphql
  KsApi/fragments/PPOProjectFragment.graphql
  KsApi/graphql-schema.json
Labels: pledged-projects-overview

#2115 [MBL-1462] Clean up OAuth flag
  Kickstarter-iOS/Features/LoginTout/Controller/LoginToutViewController.swift
  Kickstarter-iOS/Features/LoginTout/Controller/LoginToutViewControllerTests.swift
  Kickstarter-iOS/Features/LoginTout/Controller/__Snapshots__/LoginToutViewControllerTests/testLoginToutView.intent_backProject_lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/LoginTout/Controller/__Snapshots__/LoginToutViewControllerTests/testLoginToutView.intent_generic_lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/LoginTout/Controller/__Snapshots__/LoginToutViewControllerTests/testLoginToutView.intent_generic_lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/LoginTout/Controller/__Snapshots__/LoginToutViewControllerTests/testLoginToutView.intent_messageCreator_lang_es_device_pad.png
  Kickstarter-iOS/Features/LoginTout/Controller/__Snapshots__/LoginToutViewControllerTests/testLoginToutView.intent_starProject_lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Kickstarter-iOS/Features/Signup/SignupViewController.swift
  Kickstarter-iOS/Features/Signup/SignupViewControllerTests.swift
  Kickstarter-iOS/Features/Signup/__Snapshots__/SignupViewControllerTests/testView.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Signup/__Snapshots__/SignupViewControllerTests/testView.lang_en_device_pad.png
  Kickstarter-iOS/Features/Signup/__Snapshots__/SignupViewControllerTests/testView.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Signup/__Snapshots__/SignupViewControllerTests/testView.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Signup/__Snapshots__/SignupViewControllerTests/testView.lang_ja_device_pad.png
  Kickstarter-iOS/SharedViews/SharedStoryboards/Login.storyboard
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/MockService.swift
  KsApi/Service.swift
  KsApi/ServiceType.swift
  KsApi/lib/Route.swift
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature+HelpersTests.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/Styles/LoginStyles.swift
  Library/Tracking/KSRAnalytics.swift
  Library/Tracking/KSRAnalyticsTests.swift
  Library/ViewModels/LoginToutViewModel.swift
  Library/ViewModels/LoginToutViewModelTests.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
  Library/ViewModels/SignupViewModel.swift
  Library/ViewModels/SignupViewModelTests.swift
Labels: deletion party

#2113 [MBL-1448] Add query for PPO fetch
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/GraphAPI.swift
  KsApi/GraphQLFiles.xcfilelist
  KsApi/MockService.swift
  KsApi/Service.swift
  KsApi/ServiceType.swift
  KsApi/queries/FetchPPOQuery.graphql
Labels: pledged-projects-overview

#2114 [MBL-1601] Filter Rewards By Selected Shipping Location
  Kickstarter-iOS/Features/ManagePledge/Controllers/ManagePledgeViewController.swift
  Kickstarter-iOS/Features/ProjectPage/Controller/ProjectPageViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/WithShippingRewardsCollectionViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/Service.swift
  Library/ViewModels/RewardsWithShippingCollectionViewModelTests.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: Pledge Redemption

#2116 Expose EstimatedMin and EstimatedMax in ShippingRule Fragment
  KsApi/GraphAPI.swift
  KsApi/fragments/ShippingRuleFragment.graphql
  KsApi/graphql-schema.json
  KsApi/models/ShippingRule.swift
  KsApi/models/graphql/adapters/Backing+BackingFragmentTests.swift
  KsApi/models/graphql/adapters/Reward+RewardFragmentTests.swift
  KsApi/models/graphql/adapters/ShippingRule+ShippingRuleFragment.swift
  KsApi/models/graphql/adapters/ShippingRule+ShippingRuleFragmentTests.swift
  KsApi/models/lenses/ShippingRuleLenses.swift
  KsApi/models/templates/ShippingRuleTemplates.swift
  Library/ViewModels/ConfirmDetailsViewModelTests.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
  Library/ViewModels/PledgeViewModelTests.swift
Labels: Pledge Redemption

#2126 [NO TICKET] Shipping Dropdown Loading State
  Library/ViewModels/PledgeShippingLocationViewModel.swift
Labels: Pledge Redemption

#2117 [MBL-1605] Display Estimated Shipping on Rewards and Add-Ons
  Kickstarter-iOS/Features/ManagePledge/Datasource/ManagePledgeDataSource.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Views/RewardAddOnCardView.swift
  Kickstarter-iOS/Features/RewardsCollection/Datasource/RewardsCollectionViewDataSourceTests.swift
  Kickstarter-iOS/Features/RewardsCollection/Views/RewardCardContainerViewTests.swift
  Kickstarter-iOS/Features/RewardsCollection/Views/RewardCardView.swift
  Library/SharedFunctions.swift
  Library/ViewModels/RewardAddOnCardViewModel.swift
  Library/ViewModels/RewardCardViewModel.swift
  Library/ViewModels/RewardCardViewModelTests.swift
  Library/ViewModels/RewardCellViewModel.swift
  Library/ViewModels/RewardCellViewModelTests.swift
  Library/ViewModels/RewardsCollectionViewModel.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: Pledge Redemption

#2122 [MBL-1458 pt 3] Add project creator for PPO
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCreator.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2123 [MBL-1458 pt 4] Add project details for PPO
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectDetails.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2120 [MBL-1458 pt 1] Add alert flag for PPO
  Kickstarter-iOS/Assets.xcassets/icons/icon-limited-time.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-limited-time.imageset/clock.pdf
  Kickstarter-iOS/Assets.xcassets/icons/icon-notice.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-notice.imageset/Icon.pdf
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOAlertFlag.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOCardStyles.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCreator.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectDetails.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2121 [MBL-1458 pt 2] Add address summary for PPO
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOAddressSummary.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOCardStyles.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2127 [MBL-1606] New Crowdfund Checkout UI
  Kickstarter-iOS/Features/ConfirmDetails/Views/ConfirmDetailsContinueCTAView.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/NoShippingPledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Datasource/NoShippingPledgeRewardsSummaryDataSource.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Datasource/PledgeExpandableRewardsHeaderDataSourceTests.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Views/Cells/PostCampaignPledgeRewardsSummaryCell.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewControllerTests.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_de_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_en_device_pad_LoggedIn.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_es_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_fr_device_pad_LoggedIn.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_HasAddOns.lang_ja_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_FixPaymentMethod_ErroredCard.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_PledgeContext_UnavailableStoredCards.lang_ja_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_de_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_en_device_pad_LoggedIn.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_es_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_fr_device_pad_LoggedIn.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowsShippingSummaryViewSection.lang_ja_device_phone4_7inch_LoggedOut.png
  Kickstarter-iOS/Features/PledgeView/Views/NoShippingPledgeViewCTAContainerView.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/SharedFunctions.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
  Library/ViewModels/PledgeExpandableHeaderRewardCellViewModel.swift
  Library/ViewModels/PledgeExpandableHeaderRewardCellViewModelTests.swift
  Library/ViewModels/PledgeExpandableRewardsHeaderViewModel.swift
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModel.swift
Labels: Pledge Redemption

#2129 [MBL-1604] Show bonus in add-ons
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewControllerTests.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView.lang_ja_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_EmptyState.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_EmptyState.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_EmptyState.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_EmptyState.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_EmptyState.lang_ja_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_Error.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_Error.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_Error.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_Error.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_Error.lang_ja_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_NoShippingWithLocalPickup_Success.lang_ja_device_phone5_8inch.png
  Kickstarter.xcodeproj/project.pbxproj
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/PledgeAmountViewModel.swift
  Library/ViewModels/PledgeViewModel.swift
  Library/ViewModels/RewardAddOnSelectionContinueCTAViewModel.swift
  Library/ViewModels/RewardAddOnSelectionNoShippingViewModel.swift
  Library/ViewModels/RewardAddOnSelectionNoShippingViewModelTests.swift
Labels: Pledge Redemption

#2131 [MBL-1453] PagedTabBar implementation and adding to PagedContainerViewController
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/PagedContainer/PagedContainerViewController.swift
  Library/PagedContainer/PagedContainerViewModel.swift
  Library/PagedContainer/PagedContainerViewModelTests.swift
  Library/PagedContainer/PagedTabBar.swift
  Library/PagedContainer/PagedTabBarTests.swift
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testBadgeAndDot.badge-and-dot.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testLongBadge.long-badge.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testLongGermanNames.German.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testLongName.long-name.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testNoBadges.no-badges.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testNoBadgesLongNames.no-badges.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testSecondTabBadge.long-name.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testTabSelection.firstTab.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testTabSelection.secondTab.png
  Library/PagedContainer/__Snapshots__/PagedTabBarTests/testThreeTabs.long-name.png
Labels: pledged-projects-overview

#2135 [MBL-1609] Handle no add-ons/no reward cases in the add-ons VC
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewControllerTests.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noAddOns.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noAddOns.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noAddOns.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noAddOns.lang_fr_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noAddOns.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noReward.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noReward.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noReward.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noReward.lang_fr_device_pad.png
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/__Snapshots__/RewardAddOnSelectionNoShippingViewControllerTests/testView_noReward.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/RewardsCollection/Controller/WithShippingRewardsCollectionViewController.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/RewardAddOnSelectionNoShippingViewModel.swift
  Library/ViewModels/RewardAddOnSelectionNoShippingViewModelTests.swift
Labels: Pledge Redemption

#2136 [NO TICKET] Rewards Load Before Shipping Locations Have Loaded
  Kickstarter-iOS/Features/ConfirmDetails/Controllers/ConfirmDetailsViewController.swift
  Kickstarter-iOS/Features/PledgeShippingLocation/PledgeShippingLocationViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/PledgeViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/WithShippingRewardsCollectionViewController.swift
  Library/ViewModels/WithShippingRewardsCollectionViewModel.swift
Labels: Pledge Redemption
