Repository kickstarter/ios-oss, pull requests merged in 2024-07, with the labels that each got.

#2092 [MBL-1457] Create empty state view for PPO
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewController.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOEmptyStateView.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOEmptyStateViewTests.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOView.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/__Snapshots__/PPOEmptyStateViewTests/testEmptyStateView.lang_en.png
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2094 [MBL-1500] Update and use banners for ppo
  Kickstarter-iOS/Features/MessageBanner/Views/MessageBannerView.swift
  Kickstarter-iOS/Features/MessageBanner/Views/MessageBannerViewTests.swift
  Kickstarter-iOS/Features/MessageBanner/Views/__Snapshots__/MessageBannerViewTests/testBannerError.1.png
  Kickstarter-iOS/Features/MessageBanner/Views/__Snapshots__/MessageBannerViewTests/testBannerInfo_longString.1.png
  Kickstarter-iOS/Features/MessageBanner/Views/__Snapshots__/MessageBannerViewTests/testBannerInfo_shortString.1.png
  Kickstarter-iOS/Features/MessageBanner/Views/__Snapshots__/MessageBannerViewTests/testBannerSuccess.1.png
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOView.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModel.swift
  Kickstarter-iOS/TestHelpers/SwiftUI.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2098 [MBL-1445] Remove Facebook Interstitial Feature
  Kickstarter-iOS/Features/LoginTout/Controller/LoginToutViewController.swift
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Kickstarter-iOS/Features/SetYourPassword/Controller/SetYourPasswordViewController.swift
  Kickstarter-iOS/Features/SetYourPassword/Controller/SetYourPasswordViewControllerTests.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature+HelpersTests.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/UIAlertController.swift
  Library/ViewModels/LoginToutViewModelTests.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
  Library/ViewModels/SetYourPasswordViewModel.swift
  Library/ViewModels/SetYourPasswordViewModelTests.swift
Labels: tech debt

#2099 [MBL-1632] Remove Shipping Dropdown From Confirm Details Screen
  Kickstarter-iOS/Features/ConfirmDetails/Controllers/ConfirmDetailsViewController.swift
  Library/SharedFunctions.swift
  Library/ViewModels/ConfirmDetailsViewModel.swift
  Library/ViewModels/ConfirmDetailsViewModelTests.swift
  Library/ViewModels/PostCampaignCheckoutViewModel.swift
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModel.swift
  Library/ViewModels/PostCampaignPledgeRewardsSummaryViewModelTests.swift
  Library/ViewModels/RewardAddOnSelectionViewModel.swift
Labels: Pledge Redemption

#2104 Update marketing version to 5.18.0
  Kickstarter.xcodeproj/project.pbxproj
Labels: release

#2102 Create Feature Flag For Not Charging Shipping At Checkout
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
Labels: Pledge Redemption

#2103 [MBL-1599] Add Shipping Location Dropdown to Rewards Carousel
  Kickstarter-iOS/Features/ManagePledge/Controllers/ManagePledgeViewController.swift
  Kickstarter-iOS/Features/ProjectPage/Controller/ProjectPageViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/ControllerWithShippingUI/RewardsCollectionWithShippingViewController.swift
  Kickstarter-iOS/SharedViews/HeaderFooterViews/RewardsWithShippingCollectionViewHeaderView.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/models/Reward.swift
  Library/ViewModels/PledgeShippingLocationViewModel.swift
  Library/ViewModels/PledgeShippingLocationViewModelTests.swift
  Library/ViewModels/RewardsWithShippingCollectionViewModel.swift
  Library/ViewModels/RewardsWithShippingCollectionViewModelTests.swift
Labels: Pledge Redemption

#2107 [MBL-1633] Remove Shipping From Checkout (Crowdfunding)
  Kickstarter-iOS/Features/ManagePledge/Controllers/ManagePledgeViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionNoShippingViewController.swift
  Kickstarter-iOS/Features/RewardAddOnSelection/Controller/RewardAddOnSelectionViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/RewardsCollectionViewController.swift
  Kickstarter-iOS/Features/RewardsCollection/Controller/RewardsCollectionWithShippingViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  Kickstarter.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
Labels: Pledge Redemption

#2109 [MBL-1608] Remove 'Update Pledge' From Manage Pledge Options Menu
  Library/ViewModels/ManagePledgeViewModel.swift
Labels: Pledge Redemption
