Repository kickstarter/ios-oss, pull requests merged in 2025-07, with the labels that each got.

#2515 [MBL-2430] Add Onboarding Lottie Animation Files
  Kickstarter-iOS/Resources/onboarding-flow-enable-notifications-de.json
  Kickstarter-iOS/Resources/onboarding-flow-enable-notifications-en.json
  Kickstarter-iOS/Resources/onboarding-flow-enable-notifications-es.json
  Kickstarter-iOS/Resources/onboarding-flow-enable-notifications-fr.json
  Kickstarter-iOS/Resources/onboarding-flow-enable-notifications-ja.json
  Kickstarter-iOS/Resources/onboarding-flow-login-signup-de.json
  Kickstarter-iOS/Resources/onboarding-flow-login-signup-en.json
  Kickstarter-iOS/Resources/onboarding-flow-login-signup-es.json
  Kickstarter-iOS/Resources/onboarding-flow-login-signup-fr.json
  Kickstarter-iOS/Resources/onboarding-flow-login-signup-ja.json
  Kickstarter-iOS/Resources/onboarding-flow-save-projects-de.json
  Kickstarter-iOS/Resources/onboarding-flow-save-projects-en.json
  Kickstarter-iOS/Resources/onboarding-flow-save-projects-es.json
  Kickstarter-iOS/Resources/onboarding-flow-save-projects-fr.json
  Kickstarter-iOS/Resources/onboarding-flow-save-projects-ja.json
  Kickstarter-iOS/Resources/onboarding-flow-welcome-de.json
  Kickstarter-iOS/Resources/onboarding-flow-welcome-en.json
  Kickstarter-iOS/Resources/onboarding-flow-welcome-es.json
  Kickstarter-iOS/Resources/onboarding-flow-welcome-fr.json
  Kickstarter-iOS/Resources/onboarding-flow-welcome-ja.json
  Kickstarter.xcodeproj/project.pbxproj
  Library/LocalizedLottieFile.swift
  Library/LocalizedLottieFileTests.swift
Labels: onboarding-flow

#2524 MBL-2556: Add 'show only' toggles to main filter page
  Kickstarter-iOS/Features/SortFilter/FilterRootView/FilterRootView.swift
Labels: sort-and-filter

#2527 [NO TICKET] Add Missed Onboarding Lottie Files
  Kickstarter-iOS/Assets.xcassets/other/Contents.json
  Kickstarter-iOS/Assets.xcassets/other/onboarding-squiggle-background.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/other/onboarding-squiggle-background.imageset/bg-squiggle.svg
  Kickstarter-iOS/Resources/onboarding-flow-activity-tracking-en.json
  Kickstarter.xcodeproj/project.pbxproj
Labels: onboarding-flow

#2529 [MBL-2552] Fix PPO alert tag height
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel+Templates.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardTests.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/__Snapshots__/PPOProjectCardTests/testLotsOfFlags.testLotsOfFlags.png
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/__Snapshots__/PPOProjectCardTests/testLotsOfFlags.testShortTemplateText.png
  Kickstarter-iOS/SharedViews/Layouts/FlowLayout.swift
Labels: bug, pledged-projects-overview

#2526 [MBL-2419] Adds UseCase For Onboarding Flow
  Kickstarter.xcodeproj/project.pbxproj
  Library/LocalizedLottieFile.swift
  Library/LocalizedLottieFileTests.swift
  Library/LoginIntent.swift
  Library/OnboardingUseCase.swift
  Library/OnboardingUseCaseTests.swift
  Library/ViewModels/LoginToutViewModel.swift
Labels: onboarding-flow

#2534 [MBL-2597][b] Show title in the survey webview in the pledge management flow
  Kickstarter-iOS/Features/SurveyResponse/Controller/SurveyResponseViewController.swift
  Library/ViewModels/SurveyResponseViewModel.swift
  Library/ViewModels/SurveyResponseViewModelTests.swift
Labels: pledge-management

#2536 [MBL-2567] Create goal search filter view
  Kickstarter-iOS/Features/SortFilter/GoalView/GoalView.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/models/DiscoveryParams.swift
  Library/Extensions/DiscoveryParams+SearchFilters.swift
Labels: sort-and-filter

#2537 [MBL-2569, MBL-2571] Use goal filter view
  Kickstarter-iOS/Features/SortFilter/FilterRootView/FilterRootView.swift
  Library/Extensions/DiscoveryParams+SearchFilters.swift
  Library/UseCases/SearchFilters/SearchFilterPill.swift
  Library/UseCases/SearchFilters/SearchFilters.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCase.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCaseTests.swift
  Library/UseCases/SearchFilters/SelectedSearchFilters+TestHelpers.swift
Labels: sort-and-filter

#2538 [MBL-2573] Make goal filter functional
  KsApi/GraphAPI.swift
  KsApi/queries/SearchQuery.graphql
  Library/ViewModels/SearchViewModel+GraphQL.swift
  Library/ViewModels/SearchViewModel.swift
Labels: sort-and-filter

#2547 [MBL-2422] Launch Login/Signup Flow
  Kickstarter-iOS/AppDelegate.swift
  Kickstarter-iOS/AppDelegateViewModel.swift
  Kickstarter-iOS/AppDelegateViewModelTests.swift
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingCTAView.swift
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingItemView.swift
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingView.swift
  Library/KeyValueStoreType.swift
  Library/Notifications.swift
  Library/OnboardingViewModel.swift
Labels: onboarding-flow

#2554 [MBL-2618] Rename search empty state cell
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_LegacyEmptyState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_LegacyEmptyState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_LegacyEmptyState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_LegacyEmptyState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_LegacyEmptyState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Datasource/SearchDataSource.swift
  Kickstarter-iOS/Features/Search/Storyboard/Search.storyboard
  Kickstarter-iOS/Features/Search/Views/Cell/SearchLegacyEmptyStateCell.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/ViewModels/SearchEmptyStateCellViewModel.swift
  Library/ViewModels/SearchLegacyEmptyStateCellViewModel.swift
  Library/ViewModels/SearchLegacyEmptyStateCellViewModelTests.swift
Labels: sort-and-filter

#2555 [MBL-2618] Add new empty state to search
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Datasource/SearchDataSource.swift
  Kickstarter-iOS/Features/Search/Views/Cell/SearchEmptyStateCell.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/UseCases/SearchFilters/SearchFilters.swift
  Library/ViewModels/SearchEmptyStateCellViewModel.swift
  Library/ViewModels/SearchViewModel.swift
Labels: sort-and-filter

#2564 Remove Onboarding Feature Flag Gate
  Kickstarter-iOS/AppDelegateViewModel.swift
  Kickstarter-iOS/AppDelegateViewModelTests.swift
Labels: onboarding-flow

#2565 [MBL-2417] Onboarding String Translations
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingCTAView.swift
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingItemView.swift
  Kickstarter-iOS/Features/Onboarding/Views/OnboardingView.swift
  Kickstarter-iOS/Locales/Base.lproj/Localizable.strings
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Library/OnboardingUseCase.swift
  Library/Strings.swift
Labels: onboarding-flow

#2566 [MBL-2618] Update search empty state strings
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Views/Cell/SearchEmptyStateCell.swift
  Library/Strings.swift
  Library/ViewModels/SearchEmptyStateCellViewModel.swift
Labels: sort-and-filter
