Repository kickstarter/ios-oss, pull requests merged in 2025-03, with the labels that each got.

#2308 Add New Info Sheet Icons
  Kickstarter-iOS/Assets.xcassets/icons/icon-info-sheet-check.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-info-sheet-check.imageset/Info sheet check.pdf
  Kickstarter-iOS/Assets.xcassets/icons/icon-task-todo.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-task-todo.imageset/Task - To-do.pdf
Labels: pledged-projects-overview-v2

#2314 [MBL-2141] Default pledge cta button and retry stack view to hidden
  Kickstarter-iOS/SharedViews/PledgeCTAContainerView.swift
Labels: bug

#2315 Update search tests to use orthogonal combos
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_de_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_ja_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_EmptyState.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_de_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_ja_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_ja_device_phone4_7inch.png
Labels: sort-and-filter

#2316 [MBL-2173] Create a flag for sort and filter work
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
Labels: sort-and-filter

#2319 MBL-2177: Hook up feature flag to new vs. old search controller
  Kickstarter-iOS/Features/RootTabBar/RootTabBarViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchLegacyViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchLegacyViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_EmptyState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_EmptyState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_EmptyState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_EmptyState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_EmptyState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_defaultState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_defaultState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_defaultState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_defaultState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchLegacyViewControllerTests/testView_defaultState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Datasource/SearchLegacyDataSource.swift
  Kickstarter-iOS/Features/Search/Storyboard/SearchLegacy.storyboard
  Kickstarter-iOS/Library/Storyboard.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/ViewModels/RootViewModelTests.swift
  Library/ViewModels/SearchLegacyViewModel.swift
  Library/ViewModels/SearchLegacyViewModelTests.swift
Labels: sort-and-filter

#2327 Use GraphQL for new Search
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Datasource/SearchDataSource.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/GraphAPI.swift
  KsApi/GraphQLFiles.xcfilelist
  KsApi/GraphQLSelectionSet+String.swift
  KsApi/queries/SearchQuery.graphql
  KsApi/queries/templates/FetchBackerProjectsQueryDataTemplate.swift
  KsApi/queries/templates/SearchQuery_AnotherFiveResults.json
  KsApi/queries/templates/SearchQuery_EmptyResults.json
  KsApi/queries/templates/SearchQuery_FiveResults.json
  KsApi/queries/templates/SearchQuery_SearchViewControllerTests_Active.json
  KsApi/queries/templates/SearchQuery_SearchViewControllerTests_Prelaunch.json
  Library/ViewModels/SearchViewModel+GraphQL.swift
  Library/ViewModels/SearchViewModel.swift
  Library/ViewModels/SearchViewModelTests.swift
Labels: sort-and-filter

#2337 [MBL-2166] SPC - Project Cards Loading Cell
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsLoadingCollectionViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsTableViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Datasource/SimilarProjectsCollectionViewDataSource.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: similar-projects-carousel

#2336 [MBL-2166] SPC - Create A UICollectionView + Cell That Uses The New SPC Project Card
  Kickstarter-iOS/Features/ProjectPage/Controller/ProjectPageViewController.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsCollectionViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsLoadingCollectionViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsTableViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Datasource/SimilarProjectsCollectionViewDataSource.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/SimilarProjectsCardView.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/SimilarProjectsCardViewTests.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Failed.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Failed.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Live.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Live.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Successful.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Successful.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_IsPrelaunch.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_IsPrelaunch.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_LatePledge.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_LatePledge.lang_es_device_phone4_7inch.png
  Kickstarter.xcodeproj/project.pbxproj
Labels: similar-projects-carousel

#2334 [MBL-2174] Add FilterCategoryView and ViewModel for new Sort & Filter design
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Failed.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Successful.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_LatePledge.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/ProjectsCardViewTests/testView_ProjectState_Failed.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/ProjectsCardViewTests/testView_ProjectState_Live.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/ProjectsCardViewTests/testView_ProjectState_Successful.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/ProjectsCardViewTests/testView_Project_IsPrelaunch.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Failed.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Failed.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Live.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Live.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Successful.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_ProjectState_Successful.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_IsPrelaunch.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_IsPrelaunch.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_LatePledge.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ProjectPage/Views/__Snapshots__/SimilarProjectsCardViewTests/testView_Project_LatePledge.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModel.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModelTest.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewTest.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/__Snapshots__/FilterCategoryViewTest/testFilterCategoryView_CategoriesList.1.png
  Kickstarter-iOS/Features/SortFilter/FilterCategory/__Snapshots__/FilterCategoryViewTest/testFilterCategoryView_LoadingState.1.png
  Kickstarter-iOS/Locales/Base.lproj/Localizable.strings
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Kickstarter.xcodeproj/project.pbxproj
  Library/Strings.swift
  Library/Styles/Colors/AdaptiveColors.swift
Labels: sort-and-filter

#2335 [MBL-2176] Add SortView and SortViewModel to handle sorting options in SwiftUI
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView.swift
  Kickstarter-iOS/Features/SortFilter/SortView/SortView.swift
  Kickstarter-iOS/Features/SortFilter/SortView/SortViewModel.swift
  Kickstarter-iOS/Features/SortFilter/SortView/SortViewModelTest.swift
  Kickstarter-iOS/Features/SortFilter/SortView/SortViewTest.swift
  Kickstarter-iOS/Features/SortFilter/SortView/__Snapshots__/SortViewTest/testSortView_DefaultOption.1.png
  Kickstarter-iOS/Features/SortFilter/SortView/__Snapshots__/SortViewTest/testSortView_SelectedOption.1.png
  Kickstarter-iOS/SharedViews/Presenters/BottomSheetPresenter.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: sort-and-filter

#2341 MBL-2182: Create SearchFiltersUseCase
  Kickstarter.xcodeproj/project.pbxproj
  Library/UseCases/SearchFiltersUseCase.swift
  Library/UseCases/SearchFiltersUseCaseTests.swift
Labels: sort-and-filter

#2346 Make SortView generic
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModel.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModelTest.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewTest.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/__Snapshots__/FilterCategoryViewTest/testFilterCategoryView_CategoriesList.1.png
Labels: sort-and-filter

#2342 MBL-2182: Use SearchFiltersUseCase in Search to show sort and filters
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Library/ViewModels/SearchViewModel+GraphQL.swift
  Library/ViewModels/SearchViewModel.swift
  Library/ViewModels/SearchViewModelTests.swift
Labels: sort-and-filter

#2343 [MBL-2167] SPC - Page Control
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsTableViewCell.swift
Labels: similar-projects-carousel

#2340 [MBL-2166] Wire Up New SPC Cell To Project Page Table View
  Kickstarter-iOS/Features/ProjectPage/Controller/ProjectPageViewController.swift
  Kickstarter-iOS/Features/ProjectPage/Datasource/Datasource/ProjectPageViewControllerDataSource.swift
  Kickstarter-iOS/Features/ProjectPage/Datasource/Datasource/ProjectPageViewControllerDataSourceTests.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsCollectionViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Cells/SimilarProjectsTableViewCell.swift
  Kickstarter-iOS/Features/ProjectPage/SimilarProjects/Datasource/SimilarProjectsCollectionViewDataSource.swift
  Library/ViewModels/ProjectPageViewModel.swift
Labels: similar-projects-carousel

#2355 MBL-2232: Update strings
  Kickstarter-iOS/Locales/Base.lproj/Localizable.strings
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Library/Strings.swift
Labels: sort-and-filter

#2353 MBL-2175: Add pill view for sort and filters
  Kickstarter-iOS/Assets.xcassets/icons/icon-sort.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-sort.imageset/icon-sort.pdf
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/SortFilter/BadgeView/FilterBadgeView.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/UseCases/SearchFiltersUseCase.swift
  Library/UseCases/SearchFiltersUseCaseTests.swift
  Library/ViewModels/RootViewModelTests.swift
  Library/ViewModels/SearchViewModel.swift
Labels: sort-and-filter
