Repository kickstarter/ios-oss, pull requests merged in 2025-01, with the labels that each got.

#2223 [MBL-1899] Checkout screen PLOT Badge
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/NoShippingPledgeRewardsSummaryViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgeRewardsSummaryTotalViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgeRewardsSummaryTotalViewControllerTests.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PostCampaignPledgeRewardsSummaryViewController.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeInFull_WithNoShippingAtCheckoutEnabled.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeInFull_WithNoShippingAtCheckoutEnabled.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithReward.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithReward.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithoutReward_WithNoShippingAtCheckoutEnabled.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithoutReward_WithNoShippingAtCheckoutEnabled.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Views/Cells/PostCampaignPledgeRewardsSummaryCell.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Views/PledgeOverTimeBadgeView.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/NoShippingPledgeViewControllerTests.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/PledgeSummaryViewController.swift
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_Ineligible.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_Ineligible.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_PledgeInFull.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_PledgeInFull.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_PledgeOverTime.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgeView/Controllers/__Snapshots__/NoShippingPledgeViewControllerTests/testView_ShowCollectionPlans_PledgeOverTime.lang_en_device_phone4_7inch.png
  Kickstarter.xcodeproj/project.pbxproj
  Library/Extensions/UIView+Helper.swift
  Library/TestHelpers/MockPledgeOverTimePlanIntervals.swift
  Library/ViewModels/NoShippingPledgeViewModel.swift
  Library/ViewModels/NoShippingPledgeViewModelTests.swift
  Library/ViewModels/PLOTPledgeViewModel.swift
  Library/ViewModels/PledgePaymentPlansOptionViewModel.swift
  Library/ViewModels/PledgePaymentPlansOptionViewModelTest.swift
  Library/ViewModels/PledgePaymentPlansViewModel.swift
  Library/ViewModels/PledgeSummaryViewModel.swift
  Library/ViewModels/PledgeSummaryViewModelTests.swift
Labels: Pledge Over Time

#2221 [MBL-1897] Hide "Edit Reward" when pledge over time
  Library/ViewModels/ManagePledgeViewModel.swift
  Library/ViewModels/ManagePledgeViewModelTests.swift
Labels: Pledge Over Time

#2229 [MBL-1951] Expose PLOT PaymentIncrements on Backing Fragment
  Kickstarter-iOS/Features/PledgeOverTime/Controller/PledgePaymentPlansViewControllerTest.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/GraphAPI.swift
  KsApi/GraphQLFiles.xcfilelist
  KsApi/extensions/TimeInterval+ISO8601DateTests.swift
  KsApi/extensions/TimeInterval.swift
  KsApi/fragments/BackingFragment.graphql
  KsApi/fragments/PaymentIncrementFragment.graphql
  KsApi/graphql-schema.json
  KsApi/models/Backing.swift
  KsApi/models/PledgePaymentIncrement+GraphAPI.swift
  KsApi/models/PledgePaymentIncrement+GraphAPITests.swift
  KsApi/models/PledgePaymentIncrement.swift
  KsApi/models/graphql/adapters/Backing+BackingFragment.swift
  KsApi/models/graphql/adapters/Backing+BackingFragmentTests.swift
  KsApi/models/lenses/BackingLenses.swift
  KsApi/models/templates/BackingTemplates.swift
  KsApi/queries/BuildPaymentPlanQuery.graphql
  Library/TestHelpers/MockPledgeOverTimePlanIntervals.swift
  Library/ViewModels/BuildPaymentPlanQueryTestData.swift
  Library/ViewModels/ManagePledgeViewModel.swift
  Library/ViewModels/PledgePaymentPlansAndSelectionData+GraphAPI.swift
  Library/ViewModels/PledgePaymentPlansAndSelectionData+GraphAPITests.swift
  Library/ViewModels/PledgePaymentPlansOptionViewModel.swift
Labels: Pledge Over Time

#2233 [MBL-1878] Add GraphAPI.MoneyFragment currency formatter
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectDetails.swift
  Library/Format.swift
  Library/FormatTests.swift
Labels: pledged-projects-overview

#2234 [MBL-1898] Payment Schedule view
  Kickstarter-iOS/Features/ManagePledge/Controllers/ManagePledgeViewController.swift
  Kickstarter-iOS/Features/ManagePledge/Controllers/ManagePledgeViewControllerTests.swift
  Kickstarter-iOS/Features/ManagePledge/Controllers/PledgeOverTimePaymentScheduleViewController.swift
  Kickstarter-iOS/Features/ManagePledge/Controllers/PledgeOverTimePaymentScheduleViewControllerTest.swift
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Collapsed.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Collapsed.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Expanded.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Expanded.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Views/PledgeOverTimePaymentScheduleItemView.swift
  Kickstarter-iOS/Features/PledgeOverTime/Controller/PledgePaymentPlansViewControllerTest.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_phone4_7inch.png
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/models/PledgePaymentIncrement+GraphAPI.swift
  KsApi/models/PledgePaymentIncrement.swift
  KsApi/models/templates/BackingTemplates.swift
  Library/TestHelpers/MockPledgeOverTimePlanIntervals.swift
  Library/ViewModels/ManagePledgeViewModel.swift
  Library/ViewModels/ManagePledgeViewModelTests.swift
  Library/ViewModels/PledgeOverTimePaymentScheduleViewModel.swift
  Library/ViewModels/PledgeOverTimePaymentScheduleViewModelTest.swift
  Library/ViewModels/PledgePaymentIncrementState+Extension.swift
  Library/ViewModels/PledgeSummaryViewModelTests.swift
Labels: Pledge Over Time

#2235 [MBL-1490] Handle fix pledge action
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewController.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModelTests.swift
Labels: pledged-projects-overview

#2237 [MBL-1958] Use New PLOT Disclaimer Copy On Project Fragment
  Kickstarter-iOS/Features/PledgeOverTime/Controller/PledgePaymentPlansViewController.swift
  Kickstarter-iOS/Features/PledgeOverTime/Controller/PledgePaymentPlansViewControllerTest.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/PledgeRewardsSummaryTotalViewControllerTests.swift
  KsApi/GraphAPI.swift
  KsApi/fragments/ProjectFragment.graphql
  KsApi/graphql-schema.json
  KsApi/models/Project.swift
  KsApi/models/graphql/adapters/Backing+BackingFragmentTests.swift
  KsApi/models/graphql/adapters/Project+ProjectFragment.swift
  KsApi/models/graphql/adapters/Project+ProjectFragmentTests.swift
  KsApi/models/lenses/ProjectLenses.swift
  KsApi/models/templates/ProjectTemplates.swift
  KsApi/queries/templates/FetchMyBackedProjectsQuery.json
  KsApi/queries/templates/FetchMySavedProjectsQuery.json
  Library/ViewModels/PLOTPledgeViewModel.swift
  Library/ViewModels/PledgePaymentPlansAndSelectionData+GraphAPI.swift
  Library/ViewModels/PledgePaymentPlansAndSelectionData+GraphAPITests.swift
  Library/ViewModels/PledgePaymentPlansOptionViewModel.swift
  Library/ViewModels/PledgePaymentPlansOptionViewModelTest.swift
  Library/ViewModels/PledgePaymentPlansViewModel.swift
  Library/ViewModels/PledgePaymentPlansViewModelTest.swift
  Library/ViewModels/PledgeSummaryViewModelTests.swift
Labels: Pledge Over Time

#2246 [MBL-1961] Update PaymentIncrement State & StateReason GraphQL Types
  Kickstarter-iOS/Features/ManagePledge/Controllers/PledgeOverTimePaymentScheduleViewControllerTest.swift
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_fr_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Expanded.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/PledgeOverTimePaymentScheduleViewControllerTest/testView_PaymentSchedule_Expanded.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/PledgeOverTime/Controller/PledgePaymentPlansViewControllerTest.swift
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_pad.png
  Kickstarter-iOS/Features/PledgePaymentMethods/Controller/__Snapshots__/PledgeRewardsSummaryTotalViewControllerTests/testViewWithPledgeOverTime_WithNoShippingAtCheckoutEnabled.lang_en_device_phone4_7inch.png
  KsApi/GraphAPI.swift
  KsApi/fragments/PaymentIncrementFragment.graphql
  KsApi/graphql-schema.json
  KsApi/models/PledgePaymentIncrement+GraphAPI.swift
  KsApi/models/PledgePaymentIncrement+GraphAPITests.swift
  KsApi/models/PledgePaymentIncrement.swift
  KsApi/models/graphql/adapters/Backing+BackingFragmentTests.swift
  KsApi/models/templates/BackingTemplates.swift
  Library/TestHelpers/MockPledgeOverTimePlanIntervals.swift
  Library/ViewModels/BuildPaymentPlanQueryTestData.swift
  Library/ViewModels/ManagePledgeViewModel.swift
  Library/ViewModels/PledgeOverTimePaymentScheduleViewModel.swift
  Library/ViewModels/PledgePaymentIncrementState+Extension.swift
  Library/ViewModels/PledgePaymentPlansAndSelectionData+GraphAPITests.swift
  Library/ViewModels/PledgeStatusLabelViewModelTests.swift
  Library/ViewModels/PledgeSummaryViewModelTests.swift
Labels: Pledge Over Time

#2245 [MBL-1978] Only show PLOT blurb in manage pledge while project is live
  Library/ViewModels/PledgeStatusLabelViewModel.swift
  Library/ViewModels/PledgeStatusLabelViewModelTests.swift
Labels: Pledge Over Time

#2251 [MBL-1996] Don't fetch errored pledges if PPO is enabled
  Library/ViewModels/ActivitiesViewModel.swift
  Library/ViewModels/RootViewModel.swift
Labels: pledged-projects-overview

#2253 [MBL-2006] PLOT Terms of Use Button Disappearing On Manage Pledge Screen
  Kickstarter-iOS/Features/ManagePledge/Controllers/PledgeOverTimePaymentScheduleViewController.swift
Labels: Pledge Over Time

#2257 [MBL-2010] Fix Error State for PLOT
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker.lang_fr_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_LocalPickupsForAddonsAndBaseReward_Success.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_LocalPickupsForAddonsAndBaseReward_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_LocalPickupsForAddonsAndBaseReward_Success.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_LocalPickupsForAddonsAndBaseReward_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_LocalPickupsForAddonsAndBaseReward_Success.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_fr_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Collapsed.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_en_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_es_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_fr_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsBacker_PledgeOverTime_PaymentSchedule_Expanded.lang_ja_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_CurrentUser_IsNotBacker_IsCreator.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_ErroredBacking.lang_de_device_phone4inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_ErroredBacking.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_ErroredBacking.lang_es_device_phone5_5inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_ErroredBacking.lang_fr_device_phone5_8inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_ErroredBacking.lang_ja_device_pad.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_GooglePay.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Controllers/__Snapshots__/ManagePledgeViewControllerTests/testView_NoReward_ApplePay.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/ManagePledge/Views/BadgeView.swift
  Kickstarter-iOS/Features/ManagePledge/Views/PledgeStatusLabelView.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/models/Backing.swift
  KsApi/models/templates/BackingTemplates.swift
  Library/ViewModels/ManagePledgePaymentMethodViewModel.swift
  Library/ViewModels/ManagePledgePaymentMethodViewModelTests.swift
  Library/ViewModels/ManagePledgeSummaryViewModel.swift
  Library/ViewModels/ManagePledgeSummaryViewModelTests.swift
  Library/ViewModels/ManagePledgeViewModel.swift
  Library/ViewModels/ManagePledgeViewModelTests.swift
  Library/ViewModels/PledgeCTAContainerViewViewModel.swift
  Library/ViewModels/PledgeStatusLabelViewModel.swift
  Library/ViewModels/PledgeStatusLabelViewModelTests.swift
Labels: Pledge Over Time

#2259 [MBL-2011] New PLOT Translations
  Kickstarter-iOS/Locales/Base.lproj/Localizable.strings
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Library/Strings.swift
  Library/ViewModels/PledgeStatusLabelViewModel.swift
Labels: Pledge Over Time

#2250 [MBL-1493] Handle confirm address action
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel+Parsing.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel+Templates.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/CardView/PPOProjectCardModelTests.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewController.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOContainerViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOView.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModel.swift
  Kickstarter-iOS/Features/PledgedProjectsOverview/PPOViewModelTests.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: pledged-projects-overview

#2262 Update marketing version to 5.22.0
  Kickstarter.xcodeproj/project.pbxproj
Labels: release
