Repository kickstarter/ios-oss, pull requests merged in 2025-04, with the labels that each got.

#2380 [MBL-2317] View Your Pledge Web View
  Kickstarter-iOS/Features/PledgeManagement/Controllers/PledgeManagementViewPledgeViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/ProjectURLBuilder.swift
  Library/ProjectURLBuilderTests.swift
  Library/ViewModels/PledgeManagementViewPledgeViewModel.swift
  Library/ViewModels/PledgeManagementViewPledgeViewModelTests.swift
  Library/ViewModels/PledgeStatusLabelViewModel.swift
Labels: pledge-management

#2373 MBL-2250: Replace FilterBadgeView with more extensible SearchFiltersHeaderView
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/SortFilter/BadgeView/FilterBadgeView.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/PillButtons.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderView.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/UseCases/SearchFilterPill.swift
  Library/UseCases/SearchFiltersUseCase.swift
  Library/UseCases/SearchFiltersUseCaseTests.swift
  Library/ViewModels/SearchViewModel.swift
  Library/ViewModels/SearchViewModelTests.swift
Labels: sort-and-filter

#2375 MBL-2306: Clean up Phase 1 search filters flag
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Kickstarter-iOS/Features/RootTabBar/RootTabBarViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchLegacyViewController.swift
  Kickstarter-iOS/Features/Search/Controller/SearchLegacyViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Controller/SearchViewControllerTests.swift
  Kickstarter-iOS/Features/Search/Datasource/SearchDataSource.swift
  Kickstarter-iOS/Features/Search/Datasource/SearchLegacyDataSource.swift
  Kickstarter-iOS/Features/Search/Storyboard/Search.storyboard
  Kickstarter-iOS/Features/Search/Storyboard/SearchLegacy.storyboard
  Kickstarter-iOS/Features/Search/Views/Cell/DiscoverProjectsTitleCell.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
  Library/ViewModels/RootViewModel.swift
  Library/ViewModels/RootViewModelTests.swift
  Library/ViewModels/SearchLegacyViewModel.swift
  Library/ViewModels/SearchLegacyViewModelTests.swift
Labels: sort-and-filter

#2379 MBL-2305: Add feature flag for phase 2 of search filters
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
Labels: sort-and-filter

#2385 Add accent/gray/subtle and border/active to new design system colors
  Kickstarter-iOS/Assets.xcassets/new design system/colors/background/accentGraySubtle.colorset/Contents.json
  Kickstarter-iOS/Assets.xcassets/new design system/colors/border/active.colorset/Contents.json
  Library/Styles/Colors/NewDesignSystemColors.swift
  Library/Styles/Fonts/CustomFont.swift
Labels: sort-and-filter

#2383 MBL-2222: Add project state filters to Search
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Library/UseCases/SearchFilterPill.swift
  Library/UseCases/SearchFiltersUseCase.swift
  Library/UseCases/SearchFiltersUseCaseTests.swift
  Library/ViewModels/SearchViewModel.swift
  Library/ViewModels/SearchViewModelTests.swift
Labels: sort-and-filter

#2387 [MBL-2328] Fix image/audio element loading in campaign from search
  Library/ViewModels/ProjectPageViewModel.swift
  Library/ViewModels/ProjectPageViewModelTests.swift
Labels: uh-oh

#2384 MBL-2218: Add filter and project status pills to search header view
  Kickstarter-iOS/Assets.xcassets/icons/icon-filters.imageset/Contents.json
  Kickstarter-iOS/Assets.xcassets/icons/icon-filters.imageset/icon-filters.pdf
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/SortFilter/HeaderView/PillButtons.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderView.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderViewTests.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/__Snapshots__/SearchFiltersHeaderViewTests/testHeaderView.lang_en_pad_accessibilityExtraExtraExtraLarge.png
  Kickstarter-iOS/Features/SortFilter/HeaderView/__Snapshots__/SearchFiltersHeaderViewTests/testHeaderView.lang_en_phone5_5inch_medium.png
  Kickstarter-iOS/Locales/Base.lproj/Localizable.strings
  Kickstarter-iOS/Locales/de.lproj/Localizable.strings
  Kickstarter-iOS/Locales/es.lproj/Localizable.strings
  Kickstarter-iOS/Locales/fr.lproj/Localizable.strings
  Kickstarter-iOS/Locales/ja.lproj/Localizable.strings
  Kickstarter.xcodeproj/project.pbxproj
  Library/Strings.swift
  Library/UseCases/SearchFilterPill.swift
  Library/UseCases/SearchFiltersUseCase.swift
Labels: sort-and-filter

#2390 [MBL-2329] Net New Backers Web View Feature Flag
  Kickstarter-iOS/Features/RemoteConfigFeatureFlagTools/Controller/__Snapshots__/RemoteConfigFeatureFlagToolsViewControllerTests/testRemoteConfigFeatureFlagToolsViewController.1.png
  Library/RemoteConfig/RemoteConfigFeature+Helpers.swift
  Library/RemoteConfig/RemoteConfigFeature.swift
  Library/ViewModels/RemoteConfigFeatureFlagToolsViewModel.swift
Labels: pledge-management

#2389 [MBL-2271] Pledge Management Tracking Number Translations
  Kickstarter-iOS/Features/RewardTracking/Views/RewardTrackingDetailsView.swift
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_ActivityStyle.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_ActivityStyle.lang_en_device_phone4_7inch.png
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_BackingDetailsStyle.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_BackingDetailsStyle.lang_en_device_phone4_7inch.png
  Library/Strings.swift
  Library/ViewModels/RewardTrackingDetailsViewModel.swift
  Library/ViewModels/RewardTrackingDetailsViewModelTest.swift
Labels: pledge-management

#2382 [MBL-2316] Replace Native View Pledge Screen with WebView for PM Backers
  Kickstarter-iOS/Features/Messages/Controller/MessagesViewController.swift
  Kickstarter-iOS/Features/PledgeManagement/Controllers/PledgeManagementDetailsWebViewController.swift
  Kickstarter-iOS/Features/ProjectPage/Controller/ProjectPageViewController.swift
  Kickstarter.xcodeproj/project.pbxproj
  KsApi/GraphAPI.swift
  KsApi/fragments/BackingFragment.graphql
  KsApi/models/Backing.swift
  KsApi/models/graphql/adapters/Backing+BackingFragment.swift
  KsApi/models/graphql/adapters/Backing+BackingFragmentTests.swift
  KsApi/models/lenses/BackingLenses.swift
  KsApi/models/templates/BackingTemplates.swift
  Library/ViewModels/MessagesViewModel.swift
  Library/ViewModels/MessagesViewModelTests.swift
  Library/ViewModels/PledgeManagementDetailsViewModel.swift
  Library/ViewModels/PledgeManagementViewPledgeViewModel.swift
  Library/ViewModels/PledgeManagementViewPledgeViewModelTests.swift
  Library/ViewModels/PledgeViewUseCaseTests.swift
  Library/ViewModels/ProjectPageViewModel.swift
  Library/ViewModels/ProjectPageViewModelTests.swift
  Library/ViewModels/ViewPledgeUseCase.swift
Labels: pledge-management

#2392 MBL-2353: Fix off-by-one error in search results
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/Search/Datasource/SearchDataSource.swift
Labels: sort-and-filter

#2395 [MBL-2364] Fix facebook URL scheme
  Kickstarter-iOS/Info.plist
Labels: uh-oh

#2393 MBL-2227: Refactor ownership of selected filter state
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModel.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderView.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderViewTests.swift
  Kickstarter.xcodeproj/project.pbxproj
  Library/Extensions/DiscoveryParams+SearchFilters.swift
  Library/UseCases/FetchCategories/FetchCategoriesUseCase.swift
  Library/UseCases/FetchCategories/FetchCategoriesUseCaseTests.swift
  Library/UseCases/SearchFilters/SearchFilterOptions.swift
  Library/UseCases/SearchFilters/SearchFilterPill.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCase.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCaseTests.swift
  Library/UseCases/SearchFilters/SelectedSearchFilters+TestHelpers.swift
  Library/UseCases/SearchFilters/SelectedSearchFilters.swift
  Library/ViewModels/SearchViewModel.swift
  Library/ViewModels/SearchViewModelTests.swift
Labels: sort-and-filter

#2391 MBL-2227: Support navigation for filters and add placeholder root filter view
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView.swift
  Kickstarter-iOS/Features/SortFilter/FilterRootView.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: sort-and-filter

#2397 [MBL-2360] Show Tracking Number Cards In Activity
  Kickstarter-iOS/AppDelegateViewModel.swift
  Kickstarter-iOS/Features/Activities/Controller/ActivitiesViewController.swift
  Kickstarter-iOS/Features/Activities/Datasource/ActivitiesDataSource.swift
  Kickstarter-iOS/Features/RewardTracking/Views/RewardTrackingDetailsView.swift
  Kickstarter-iOS/Features/RewardTracking/Views/RewardTrackingDetailsViewTest.swift
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_ActivityStyle.lang_en_device_pad.png
  Kickstarter-iOS/Features/RewardTracking/Views/__Snapshots__/RewardTrackingDetailsViewTest/testView_ActivityStyle.lang_en_device_phone4_7inch.png
  KsApi/Service.swift
  KsApi/models/Activity.swift
  KsApi/models/lenses/ActivityLenses.swift
  KsApi/models/templates/ActivityTemplates.swift
  Library/ViewModels/ActivitiesViewModel.swift
  Library/ViewModels/ActivitiesViewModelTests.swift
  Library/ViewModels/RewardTrackingDetailsViewModel.swift
  Library/ViewModels/RewardTrackingDetailsViewModelTest.swift
Labels: pledge-management

#2400 Add text/secondary to new design system colors
  Kickstarter-iOS/Assets.xcassets/new design system/colors/text/secondary.colorset/Contents.json
  Library/Styles/Colors/NewDesignSystemColors.swift
Labels: sort-and-filter

#2401 MBL-2220: Update search-and-filters pill styling to match the design system
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_de_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_en_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_es_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_fr_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_PrelaunchProject_InSearch_Success.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_SearchState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_de_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_en_device_phone5_8inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_es_device_pad.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_fr_device_phone4_7inch.png
  Kickstarter-iOS/Features/Search/Controller/__Snapshots__/SearchViewControllerTests/testView_defaultState.lang_ja_device_phone5_8inch.png
  Kickstarter-iOS/Features/SortFilter/HeaderView/PillButtons.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/__Snapshots__/SearchFiltersHeaderViewTests/testHeaderView.lang_en_pad_accessibilityExtraExtraExtraLarge.png
  Kickstarter-iOS/Features/SortFilter/HeaderView/__Snapshots__/SearchFiltersHeaderViewTests/testHeaderView.lang_en_phone5_5inch_medium.png
Labels: sort-and-filter

#2402 MBL-2220: (Part one) Update search filters and search view models to support phase 2 search features
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/SortFilter/FilterRootView.swift
  Kickstarter-iOS/Features/SortFilter/HeaderView/SearchFiltersHeaderViewTests.swift
  Library/UseCases/SearchFilters/SearchFilterPill.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCase.swift
  Library/UseCases/SearchFilters/SearchFiltersUseCaseTests.swift
  Library/UseCases/SearchFilters/SelectedSearchFilters+TestHelpers.swift
  Library/UseCases/SearchFilters/SelectedSearchFilters.swift
  Library/ViewModels/SearchViewModel.swift
Labels: sort-and-filter

#2405 [MBL-2385] Intersperse Tracking # Cards With Activities
  Kickstarter-iOS/Features/Activities/Controller/ActivitiesViewController.swift
  Kickstarter-iOS/Features/Activities/Datasource/ActivitiesDataSource.swift
  Kickstarter-iOS/Features/RewardTracking/Views/RewardTrackingDetailsView.swift
  Library/ViewModels/ActivitiesViewModel.swift
  Library/ViewModels/ActivitiesViewModelTests.swift
  Library/ViewModels/RewardTrackingDetailsViewModel.swift
  Library/ViewModels/RewardTrackingDetailsViewModelTest.swift
Labels: pledge-management

#2406 Split FilterCategoryViewModel into FilterCategoryViewModel and FilterCategoryViewModel_PhaseOne
  Kickstarter-iOS/Features/Search/Controller/SearchViewController.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModelTest_PhaseOne.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModel_PhaseOne.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewTest_PhaseOne.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView_PhaseOne.swift
  Kickstarter.xcodeproj/project.pbxproj
Labels: sort-and-filter

#2399 MBL-2220: Implement parent filter modal for search phase 2
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryView.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModel.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/FilterCategoryViewModelTest.swift
  Kickstarter-iOS/Features/SortFilter/FilterCategory/__Snapshots__/FilterCategoryViewTest/testFilterCategoryView_CategoriesList.1.png
  Kickstarter-iOS/Features/SortFilter/FilterCategory/__Snapshots__/FilterCategoryViewTest/testFilterCategoryView_LoadingState.1.png
  Kickstarter-iOS/Features/SortFilter/FilterRootView.swift
Labels: sort-and-filter
